@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Rubik:wght@300;400;500;600&display=swap");

/* font-family: 'Ranchers', cursive;
font-family: 'Rubik', sans-serif; */

:root {
  --text-color: #4f5665;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
h1,
h2,
p {
  line-height: 30px;
}
