@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Rubik:wght@300;400;500;600&display=swap");

/* font-family: 'Ranchers', cursive;
font-family: 'Rubik', sans-serif; */

:root {
  --text-color: #4f5665;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

.main {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #fff;
}
body {
  box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.3);
}

p {
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}
.logo {
  font-family: "Ranchers", cursive;
  font-size: 30px;
  color: #ba55d3;
  letter-spacing: 1px;
}
button {
  border: none;
  outline: none;
}
.Link {
  display: block;
  text-decoration: none;
}
